page-main {

  .search {

  }

  .search ion-title {
    display: inline-block;
    margin: auto;
    width: 85%;
    padding-left: 60px;

  }

  .search button {
    display: inline-block;
    margin: 0 auto;
    float: right;
    padding-bottom: 1px;
  }
}
