page-results {

  ion-title {
    text-align: center;
    margin-right: 10%;
  }

  .cancel button{
    border-radius: 10px;
    text-decoration: none;
    float: right;
    width: 45%;
  }

  ion-icon {
    float: right;
    font-size: 25px;
  }


}
